.admin-dashboard {
  font-family: Arial, sans-serif;
  padding: 20px;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #353c44;
    padding: 10px 20px;
    border-radius: 5px;

    button {
      padding: 8px 16px;
      background-color: transparent;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .start-election-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; // Center items horizontally
    
    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
  
    .election-inputs {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center; // Center items horizontally
  
      label {
        font-size: 1rem;
        margin-right: 10px;
      }
  
      // Style the date picker input field
      .react-datepicker-wrapper {
        input {
          padding: 8px;
          font-size: 1rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          outline: none;
          width: 100%;
          box-sizing: border-box;
  
          &:focus {
            border-color: #007bff;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          }
        }
      }
    }
  
    button {
      padding: 10px 20px;
      font-size: 1rem;
      background-color: #182431;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  
  .voting-history {
    margin-top: 20px;
  
    .publish-button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px; /* Adjust margin as needed */
    }
    
    button {
      padding: 12px 24px; /* Adjust padding as needed */
      background-color: #6a5d5d; /* Grey background */
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 18px; /* Adjust font size as needed */
      transition: background-color 0.3s;
    
      &:hover {
        background-color: #c7bdbd; /* Darker grey on hover */
      }
    }
    
    .voting-box {
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 20px;
  
      .results-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
  
        .chart-container {
          width: 45%;
          margin-bottom: 20px;
          border: 1px solid #ccc;
          border-radius: 10px;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease;
  
          &:hover {
            transform: translateY(-3px);
          }
  
          h3 {
            padding: 8px;
            background-color: #f0f0f0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            margin: 0;
            text-align: center !important;
          }
  
          .chart {
            padding: 15px;
            background-color: #fff;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            text-align: center;
  
            .google-visualization-tooltip {
              text-align: left;
            }
  
            // Add 3D effect
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
  
            &:hover {
              transform: translateY(-3px);
            }
          }
  
          .chart-description {
            text-align: center;
  
            h4 {
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
    


  .change-password-form {
    max-width: 400px;
    margin: 40px auto;
    text-align: center; // Center align all elements within the form
  
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    form {
      display: flex;
      flex-direction: column;
      align-items: center; // Center align form inputs
    }
  
    label {
      margin-bottom: 10px;
      font-weight: bold;
    }
  
    input {
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
      box-sizing: border-box; // Ensure input width includes padding and border
    }
  
    button {
      padding: 12px 20px;
      background-color: #32383d;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  
  .sub-admin-list {
    margin-top: 20px;
  
    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  
    .sub-admin-info {
      border: 3px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      background-color: antiquewhite;
      margin: 20px;
      .info-container {
        p {
          margin: 15px 20px;
          font-family:Georgia, 'Times New Roman', Times, serif;
        }
      }
    }
  }
  
  
  
  // AdminDashboard.scss

.sub-admin-list {
  margin-top: 20px;
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .sub-admin-item {
    border: 3px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #9b4141;
    margin-bottom: 10px;
  }

  .sub-admin-info {
    margin: 5px 0;
  }
}

  .sub-admin-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .sub-admin-form h2 {
    text-align: center;
  }
  
  .sub-admin-form form {
    display: flex;
    flex-direction: column;
  }
  
  .sub-admin-form label {
    margin-bottom: 5px;
  }
  
  .sub-admin-form input,
  .sub-admin-form select {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .sub-admin-form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .sub-admin-form button:hover {
    background-color: #0056b3;
  }
  
  .sub-admin-form button[type="submit"] {
    align-self: flex-start;
  }
  

  .candidate-list,
.voter-list {
  margin-top: 20px;

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 20px;
      display: flex; // Use flexbox to align items horizontally

      div {
        background-color: #f9f9f9;
        padding: 15px;
        border-radius: 5px;
        flex: 1; // Take up remaining space

        h2 {
          font-size: 18px;
          margin-bottom: 10px;
        }

        p {
          margin: 5px 0;
        }

        button {
          padding: 5px 10px;
          background-color: #dc3545;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #c82333;
          }
        }
      }

      .image-container {
        flex: 1; // Take up remaining space
        display: flex;
        justify-content: flex-end; // Align photo to the right

        img {
          max-width: 200px; // Adjust the width as needed
          height: auto;
          margin-top: 10px;
          padding: 10px;
        }
      }
    }
  }
}
}